<html>
	<head>
		<title>Cursos</title>
	</head>
	
	<body>
		<h1>Listado de Cursos</h1>
		<table border="1">
			<tr>
	    		<th>Codigo</th>
	    		<th>Nombre</th>
	    		<th>Creditos</th>
	    		<th>Prerrequisitos</th>
	  		</tr>

		{% for alumno in alumnos %}
	  		<tr>
	    		<td><a href="/alumno/{{alumno.codigo}}">{{curso.id}}</a></td>
	    		<td>{{curso.nombre}}</td>
	    		<td>{{curso.creditos}}</td>
	    		<td>{{curso.prerrequisitos}}</td>
	  		</tr>
		{% endfor %}
		</table>
	</body>
</html>
